<li class="nav-item pcoded-menu-caption">
	<label>Navigation</label>
</li>
<li data-username="dashboard default ecommerce sales Helpdesk ticket CRM analytics project"
	class="nav-item pcoded-hasmenu">
	<a href="#!" class="nav-link"><span class="pcoded-micon"><i class="feather icon-home"></i></span><span
			class="pcoded-mtext">Dashboard</span></a>
	<ul class="pcoded-submenu">
		<li class=""><a href="index.html" class="">Analytics</a></li>
		<li class=""><a href="dashboard-sale.html" class="">Sales</a></li>
		<li class=""><a href="dashboard-project.html" class="">Project</a></li>
		<li class=""><a href="dashboard-help.html" class="">Helpdesk<span
					class="pcoded-badge label label-danger">NEW</span></a></li>
	</ul>
</li>
<li data-username="vertical horizontal box layout RTL fixed static collapse menu color icon dark background image"
	class="nav-item pcoded-hasmenu">
	<a href="#!" class="nav-link"><span class="pcoded-micon"><i class="feather icon-layout"></i></span><span
			class="pcoded-mtext">Page layouts</span></a>
	<ul class="pcoded-submenu">
		<li class="pcoded-hasmenu"><a href="#!" class="">Vertical</a>
			<ul class="pcoded-submenu">
				<li class=""><a href="layout-static.html" class="" target="_blank">Static</a></li>
				<li class=""><a href="layout-fixed.html" class="" target="_blank">Fixed</a></li>
				<li class=""><a href="layout-menu-fixed.html" class="" target="_blank">Navbar fixed</a></li>
				<li class=""><a href="layout-mini-menu.html" class="" target="_blank">Collapse menu</a></li>
				<li class=""><a href="layout-navbg.html" class="" target="_blank">Navbar imagebg</a></li>
			</ul>
		</li>
		<li class=""><a href="layout-horizontal.html" class="" target="_blank">Horizontal</a></li>
		<li class=""><a href="layout-horizontal-1.html" class="" target="_blank">Horizontal v1</a></li>
		<li class=""><a href="layout-horizontal-2.html" class="" target="_blank">Horizontal v2</a></li>
		<li class=""><a href="layout-horizontal-rtl.html" class="" target="_blank">Horizontal RTL</a></li>
		<li class=""><a href="layout-box.html" class="" target="_blank">Box layout</a></li>
		<li class=""><a href="layout-rtl.html" class="" target="_blank">RTL</a></li>
		<li class=""><a href="layout-light.html" class="" target="_blank">Light layout</a></li>
		<li class=""><a href="layout-dark.html" class="" target="_blank">Dark layout <span
					class="pcoded-badge label label-danger">Hot</span></a></li>
		<li class=""><a href="layout-menu-icon.html" class="" target="_blank">Color icon</a></li>
	</ul>
</li>
<li data-username="widget statistic data chart" class="nav-item pcoded-hasmenu">
	<a href="#!" class="nav-link"><span class="pcoded-micon"><i class="feather icon-layers"></i></span><span
			class="pcoded-mtext">Widget</span><span class="pcoded-badge label label-success">100+</span></a>
	<ul class="pcoded-submenu">
		<li class=""><a href="widget-statistic.html" class="">Statistic</a></li>
		<li class=""><a href="widget-data.html" class="">Data</a></li>
		<li class=""><a href="widget-chart.html" class="">Chart</a></li>
	</ul>
</li>
<li class="nav-item pcoded-menu-caption">
	<label>UI Element</label>
</li>
<li data-username="basic components button alert badges breadcrumb pagination progress tooltip popovers carousel cards collapse tabs pills modal spinner grid system toasts typography extra shadows embeds"
	class="nav-item pcoded-hasmenu">
	<a href="#!" class="nav-link"><span class="pcoded-micon"><i class="feather icon-box"></i></span><span
			class="pcoded-mtext">Basic</span></a>
	<ul class="pcoded-submenu">
		<li class=""><a href="bc_alert.html" class="">Alert</a></li>
		<li class=""><a href="bc_button.html" class="">Button</a></li>
		<li class=""><a href="bc_badges.html" class="">Badges</a></li>
		<li class=""><a href="bc_breadcrumb-pagination.html" class="">Pagination</a></li>
		<li class=""><a href="bc_card.html" class="">Cards</a></li>
		<li class=""><a href="bc_collapse.html" class="">Collapse</a></li>
		<li class=""><a href="bc_carousel.html" class="">Carousel</a></li>
		<li class=""><a href="bc_grid.html" class="">Grid system</a></li>
		<li class=""><a href="bc_progress.html" class="">Progress</a></li>
		<li class=""><a href="bc_modal.html" class="">Modal</a></li>
		<li class=""><a href="bc_spinner.html" class="">Spinner<span
					class="pcoded-badge label label-danger">NEW</span></a></li>
		<li class=""><a href="bc_tabs.html" class="">Tabs & pills</a></li>
		<li class=""><a href="bc_typography.html" class="">Typography</a></li>
		<li class=""><a href="bc_tooltip-popover.html" class="">Tooltip & popovers</a></li>
		<li class=""><a href="bc_toasts.html" class="">Toasts<span
					class="pcoded-badge label label-danger">NEW</span></a></li>
		<li class=""><a href="bc_extra.html" class="">Utilities</a></li>
	</ul>
</li>
<li data-username="advance components alert gridstack lightbox modal notification pnotify rating rangeslider slider syntax highlighter tour User card Timeline tree view nestable toolbar"
	class="nav-item pcoded-hasmenu">
	<a href="#!" class="nav-link"><span class="pcoded-micon"><i class="feather icon-gitlab"></i></span><span
			class="pcoded-mtext">Advance</span></a>
	<ul class="pcoded-submenu">
		<li class=""><a href="ac_alert.html" class="">Sweet alert</a></li>
		<li class=""><a href="ac-datepicker-component.html" class="">Datepicker</a></li>
		<li class=""><a href="ac_gridstack.html" class="">Gridstack</a></li>
		<li class=""><a href="ac_lightbox.html" class="">Lightbox</a></li>
		<li class=""><a href="ac_modal.html" class="">Modal</a></li>
		<li class=""><a href="ac_notification.html" class="">Notification</a></li>
		<li class=""><a href="ac_nestable.html" class="">Nestable</a></li>
		<li class=""><a href="ac_rating.html" class="">Rating</a></li>
		<li class=""><a href="ac_rangeslider.html" class="">Rangeslider</a></li>
		<li class=""><a href="ac_slider.html" class="">Slider</a></li>
		<li class=""><a href="ac_syntax_highlighter.html" class="">Syntax highlighter</a></li>
		<li class=""><a href="ac_tour.html" class="">Tour</a></li>
		<li class=""><a href="ac_treeview.html" class="">Tree view</a></li>
		<li class=""><a href="ac_toolbar.html" class="">Toolbar</a></li>
		<li class=""><a href="ac_usercard.html" class="">User card</a></li>
		<li class=""><a href="timeline.html" class="">Timeline</a></li>
	</ul>
</li>

<li data-username="animations" class="nav-item"><a href="animation.html" class="nav-link"><span class="pcoded-micon"><i
				class="feather icon-aperture"></i></span><span class="pcoded-mtext">Animations</span></a></li>
<li data-username="icons feather fontawsome flag material simple line themify" class="nav-item pcoded-hasmenu">
	<a href="#!" class="nav-link"><span class="pcoded-micon"><i class="feather icon-feather"></i></span><span
			class="pcoded-mtext">Icons</span></a>
	<ul class="pcoded-submenu">
		<li class=""><a href="icon-feather.html" class="">Feather<span
					class="pcoded-badge label label-danger">NEW</span></a></li>
		<li class=""><a href="icon-fontawsome.html" class="">Font Awesome 5<span
					class="pcoded-badge label label-primary">1000+</span></a></li>
		<li class=""><a href="icon-flag.html" class="">Flag</a></li>
		<li class=""><a href="icon-material.html" class="">Material</a></li>
		<li class=""><a href="icon-simple-line.html" class="">Simple line</a></li>
		<li class=""><a href="icon-themify.html" class="">Themify</a></li>
	</ul>
</li>
<li class="nav-item pcoded-menu-caption">
	<label>Forms</label>
</li>
<li data-username="form elements advance component validation masking wizard picker select"
	class="nav-item pcoded-hasmenu">
	<a href="#!" class="nav-link"><span class="pcoded-micon"><i class="feather icon-file-text"></i></span><span
			class="pcoded-mtext">Forms</span></a>
	<ul class="pcoded-submenu">
		<li class=""><a href="form_elements.html" class="">Form Basic</a></li>
		<li class=""><a href="form2_basic.html" class="">Form elements</a></li>
		<li class=""><a href="form2_input_group.html" class="">Input group</a></li>
		<li class=""><a href="form2_checkbox.html" class="">Checkbox</a></li>
		<li class=""><a href="form2_radio.html" class="">radio</a></li>
		<li class=""><a href="form2_switch.html" class="">Switch</a></li>
		<li class=""><a href="form2_megaoption.html" class="">Mega option</a></li>
	</ul>
</li>
