
<!--DELETE ONAY-->
<div class="modal fade mey mw-100" id="deleteReportModal" tabindex="-1" role="dialog" aria-labelledby="deleteReportModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteReportModalLabel">Raporu Sil</h5>
                <button type="button" class="close"  id="cancel-button" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body scrollable-modal-content">
                <label class="form-label" >Bu raporu silmek istediğinize emin misiniz?</label>
                
            </div>
            
            <div class="modal-footer">
                <button type="button" id="cancel-button" class="btn btn-secondary">İptal</button>
                <button type="button" id="confirm-delete" class="btn btn-danger">Sil</button>
            </div>
        </div>
    </div>
</div>

<!--DELETE BAŞARILI-->
<div class="modal fade mey mw-100" id="deleteReportSuccesModal" tabindex="-1" role="dialog" aria-labelledby="deleteReportSuccesModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteReportSuccesModalLabel">Başarılı!</h5>
                <button type="button" class="close"  id="cancel-button" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body scrollable-modal-content">
                <label class="form-label" >Rapor başarıyla silindi</label>
                
            </div>
            
            <div class="modal-footer">
                <button type="button" id="cancel-button" class="btn btn-secondary">Kapat</button>
            </div>
        </div>
    </div>
</div>