
<!--STATUS-UPDATE ONAY-->
<div class="modal fade mey mw-100" id="statusUpdateReportModal" tabindex="-1" role="dialog" aria-labelledby="statusUpdateReportModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="statusUpdateReportModalLabel">Rapor Durumunu Güncelle</h5>
                <button type="button" class="close"  id="cancel-button" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <div class="modal-body scrollable-modal-content">
                <label class="form-label" >Bu raporun durumunu güncellemek istediğinize emin misiniz?</label>
                
            </div>
            
            <div class="modal-footer">
                <button type="button" id="cancel-button" class="btn btn-secondary">İptal</button>
                <button type="button" id="confirm-statusUpdate" class="btn btn-danger">Güncelle</button>
            </div>
        </div>
    </div>
</div>

<!--STATUS-UPDATE BAŞARILI-->
<div class="modal fade mey mw-100" id="statusUpdateReportSuccesModal" tabindex="-1" role="dialog" aria-labelledby="statusUpdateReportSuccesModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="statusUpdateReportSuccesModalLabel">Başarılı!</h5>
                <button type="button" class="close"  id="cancel-button" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body scrollable-modal-content">
                <label class="form-label" >Rapor durumu başarıyla güncellendi</label>
                
            </div>
            
            <div class="modal-footer">
                <button type="button" id="cancel-button" class="btn btn-secondary">Kapat</button>
            </div>
        </div>
    </div>
</div>